*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.out
*.exe
*.elf
*.dSYM/
*.su
*.idb
*.pdb
*.gcda
*.gcno
*.gcov
*.prof
*.profraw
*.profdata
/build/
bin/
obj/
*.swp
*.swo
*.tmp
*.log
.vscode/
.idea/
*.iml
*.kate-swp
*~
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
makefile
makefile.in
configure
config.log
config.status
ted
*.txt
